.player2 {
        -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";
        height: 15%
}

.buttons {
	width: 9%;
	height: 15%;
	border: solid 1px #ccc;
	display: inline-block;
	vertical-align: middle;
	font-size: 1em;
	opacity: 0.8;
} 

#cashDisplay1 {
	position: absolute;	
	left: 1%;
}


#cashDisplay2 {
	position: absolute;	
	right: 1%;
}


#turnDisplay {
	width: 20%;
	height: 15%;
} 

body {
	background-image: url(../Images/FazeLogo.jpg);
    background-size: 1400px 800px;
}

.player1 {
	height: 15%
}

.base {
	height: 15%
}